---
# Role: firewall
# File: handlers/main/main.yml
- name: restart firewalld
  service: name=firewalld state=restarted

- name: reload firewalld
  command: /bin/firewall-cmd --reload

- name: reload iptables
  service:
    name: ufw
    state: restarted
  sudo: true
